<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jiang.football.mapper.report.WriteMapper">

    <insert id="writeFootballDataModel" parameterType="com.jiang.football.models.mapperModels.Football">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(1) from football.football where report_date = #{reportDate} and home_team = #{homeTeam}
        </selectKey>
        <if test="count > 0">
            update football.football
            set
            report_date = #{reportDate},
            week_day = #{weekDate},
            competition = #{competition},
            home_team = #{homeTeam},
            home_score = #{homeScore},
            guest_score = #{guestScore},
            guest_team = #{guestTeam},
            no_concede_points = #{noConcedePoints},
            s_odds = #{sOdds},
            p_odds = #{pOdds},
            f_odds = #{fOdds},
            concede_points = #{concedePoints},
            rs_odds = #{rsOdds},
            rp_odds = #{rpOdds},
            rf_odds = #{rfOdds},
            ou_init_s_william_odds = #{ouInitSWilliamOdds},
            ou_init_p_william_odds = #{ouInitPWilliamOdds},
            ou_init_f_william_odds = #{ouInitFWilliamOdds},
            ou_js_s_william_odds = #{ouJSSWilliamOdds},
            ou_js_p_william_odds = #{ouJSPWilliamOdds},
            ou_js_f_william_odds = #{ouJSFWilliamOdds},
            ou_init_s_libo_odds = #{ouInitSLiBoOdds},
            ou_init_p_libo_odds = #{ouInitPLiBoOdds},
            ou_init_f_libo_odds = #{ouInitFLiBoOdds},
            ou_js_s_libo_odds = #{ouJSSLiBoOdds},
            ou_js_p_libo_odds = #{ouJSPLiBoOdds},
            ou_js_f_libo_odds = #{ouJSFLiBoOdds},
            ou_init_s_bet365_odds = #{ouInitSBet365Odds},
            ou_init_p_bet365_odds = #{ouInitPBet365Odds},
            ou_init_f_bet365_odds = #{ouInitFBet365Odds},
            ou_js_s_bet365_odds = #{ouJSSBet365Odds},
            ou_js_p_bet365_odds = #{ouJSPBet365Odds},
            ou_js_f_bet365_odds = #{ouJSFBet365Odds},
            ya_init_s_aomen_odds = #{yaInitSAoMenOdds},
            ya_init_aomen_tape = #{yaInitAoMenTape},
            ya_init_f_aomen_odds = #{yaInitFAoMenOdds},
            ya_js_s_aomen_odds = #{yaJSSAoMenOdds},
            ya_js_aomen_tape = #{yaJSAoMenTape},
            ya_js_f_aomen_odds = #{yaJSFAoMenOdds},
            ya_init_s_crown_odds = #{yaInitSCrownOdds},
            ya_init_crown_tape = #{yaInitCrownTape},
            ya_init_f_crown_odds = #{yaInitFCrownOdds},
            ya_js_s_crown_odds = #{yaJSSCrownOdds},
            ya_js_crown_tape = #{yaJSCrownTape},
            ya_js_f_crown_odds = #{yaJSFCrownOdds},
            ya_init_s_bet365_odds = #{yaInitSBet365Odds},
            ya_init_bet365_tape = #{yaInitBet365Tape},
            ya_init_f_bet365_odds = #{yaInitFBet365Odds},
            ya_js_s_bet365_odds = #{yaJSSBet365Odds},
            ya_js_bet365_tape = #{yaJSBet365Tape},
            ya_js_f_bet365_odd = #{yaJSFBet365Odds},
            ya_init_s_ysb_odds = #{yaInitSYSBOdds},
            ya_init_ysb_tape = #{yaInitYSBTape},
            ya_init_f_ysb_odds = #{yaInitFYSBOdds},
            ya_js_s_ysb_odds = #{yaJSSYSBOdds},
            ya_js_ysb_tape = #{yaJSYSBTape},
            ya_js_f_ysb_odds = #{yaJSFYSBOdds},
            ya_init_s_inter_odds = #{yaInitSInterOdds},
            ya_init_inter_tape = #{yaInitInterTape},
            ya_init_f_inter_odds = #{yaInitFInterOdds},
            ya_js_s_inter_odds = #{yaJSSInterOdds},
            ya_js_inter_tape = #{yaJSInterTape},
            ya_js_f_inter_odds = #{yaJSFInterOdds}
            where report_date = #{reportDate} and home_team = #{homeTeam}
        </if>
        <if test="count==0">
            insert into football.football
            (report_date,week_day,competition,home_team,home_score,guest_score,guest_team,no_concede_points,s_odds,
            p_odds,
            f_odds,
            concede_points,
            rs_odds,
            rp_odds,
            rf_odds,
            ou_init_s_william_odds,
            ou_init_p_william_odds,
            ou_init_f_william_odds,
            ou_js_s_william_odds,
            ou_js_p_william_odds,
            ou_js_f_william_odds,
            ou_init_s_libo_odds,
            ou_init_p_libo_odds,
            ou_init_f_libo_odds,
            ou_js_s_libo_odds,
            ou_js_p_libo_odds,
            ou_js_f_libo_odds,
            ou_init_s_bet365_odds,
            ou_init_p_bet365_odds,
            ou_init_f_bet365_odds,
            ou_js_s_bet365_odds,
            ou_js_p_bet365_odds,
            ou_js_f_bet365_odds,
            ya_init_s_aomen_odds,
            ya_init_aomen_tape,
            ya_init_f_aomen_odds,
            ya_js_s_aomen_odds,
            ya_js_aomen_tape,
            ya_js_f_aomen_odds,
            ya_init_s_crown_odds,
            ya_init_crown_tape,
            ya_init_f_crown_odds,
            ya_js_s_crown_odds,
            ya_js_crown_tape,
            ya_js_f_crown_odds,
            ya_init_s_bet365_odds,
            ya_init_bet365_tape,
            ya_init_f_bet365_odds,
            ya_js_s_bet365_odds,
            ya_js_bet365_tape,
            ya_js_f_bet365_odd,
            ya_init_s_ysb_odds,
            ya_init_ysb_tape,
            ya_init_f_ysb_odds,
            ya_js_s_ysb_odds,
            ya_js_ysb_tape,
            ya_js_f_ysb_odds,
            ya_init_s_inter_odds,
            ya_init_inter_tape,
            ya_init_f_inter_odds,
            ya_js_s_inter_odds,
            ya_js_inter_tape,
            ya_js_f_inter_odds)
            values
            (#{reportDate},
            #{weekDate},
            #{competition},
            #{homeTeam},
            #{homeScore},
            #{guestScore},
            #{guestTeam},
            #{noConcedePoints},
            #{sOdds},
            #{pOdds},
            #{fOdds},
            #{concedePoints},
            #{rsOdds},
            #{rpOdds},
            #{rfOdds},
            #{ouInitSWilliamOdds},
            #{ouInitPWilliamOdds},
            #{ouInitFWilliamOdds},
            #{ouJSSWilliamOdds},
            #{ouJSPWilliamOdds},
            #{ouJSFWilliamOdds},
            #{ouInitSLiBoOdds},
            #{ouInitPLiBoOdds},
            #{ouInitFLiBoOdds},
            #{ouJSSLiBoOdds},
            #{ouJSPLiBoOdds},
            #{ouJSFLiBoOdds},
            #{ouInitSBet365Odds},
            #{ouInitPBet365Odds},
            #{ouInitFBet365Odds},
            #{ouJSSBet365Odds},
            #{ouJSPBet365Odds},
            #{ouJSFBet365Odds},
            #{yaInitSAoMenOdds},
            #{yaInitAoMenTape},
            #{yaInitFAoMenOdds},
            #{yaJSSAoMenOdds},
            #{yaJSAoMenTape},
            #{yaJSFAoMenOdds},
            #{yaInitSCrownOdds},
            #{yaInitCrownTape},
            #{yaInitFCrownOdds},
            #{yaJSSCrownOdds},
            #{yaJSCrownTape},
            #{yaJSFCrownOdds},
            #{yaInitSBet365Odds},
            #{yaInitBet365Tape},
            #{yaInitFBet365Odds},
            #{yaJSSBet365Odds},
            #{yaJSBet365Tape},
            #{yaJSFBet365Odds},
            #{yaInitSYSBOdds},
            #{yaInitYSBTape},
            #{yaInitFYSBOdds},
            #{yaJSSYSBOdds},
            #{yaJSYSBTape},
            #{yaJSFYSBOdds},
            #{yaInitSInterOdds},
            #{yaInitInterTape},
            #{yaInitFInterOdds},
            #{yaJSSInterOdds},
            #{yaJSInterTape},
            #{yaJSFInterOdds})
        </if>
    </insert>

</mapper>